@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    .animate-marquee {
      display: inline-flex;
      animation: marquee 10s linear infinite;
    }
  }


.animationMove{
    animation: moveIn 0.5s ease-in-out ;
  }
  @keyframes moveOut {
    from{translate: 0px 0px;}
    to{translate: 0px -1000px;}
    
  }
  .animationMoveOut{
    animation: moveOut 0.5s ease-in ;
  }

  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  margin: 0 auto;
}

.mySwiper {
  width: 100%;
  height: fit-content;
}